[submodule "sources/toolchain"]
	path = sources/toolchain
	url = https://github.com/soderstrom-rikard/adi-toolchain
[submodule "sources/u-boot"]
	path = sources/u-boot
	url = https://github.com/soderstrom-rikard/adi-u-boot
[submodule "sources/buildroot"]
	path = sources/buildroot
	url = https://github.com/soderstrom-rikard/adi-buildroot
